.instagram { 
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1023px) {
    .instagram {
      flex-direction: column;
      max-width: 100vw;
      margin: 0 auto; } } 
  .instagram .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%; 
    min-width: 500px; }
    @media only screen and (max-width: 1023px) {
      .instagram .profile-info {
        margin: 20px auto;
        max-width: 620px;
        min-width: 300px; } }
    .instagram .profile-info header, .instagram .profile-info div, .instagram .profile-info section {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      border: 0 solid #000;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column; 
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin: 0;
      padding: 0;
      position: relative; }
    .instagram .profile-info .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      background-color: #fafafa;
      padding: 20px 10px; }
    .instagram .profile-info .logo {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
      @media (max-width: 767px) {
        .instagram .profile-info .logo {
          margin-right: 28px; } }
      .instagram .profile-info .logo .logo-inner {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none; }
        @media (min-width: 768px) {
          .instagram .profile-info .logo .logo-inner {
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            margin-right: 30px; } }
      .instagram .profile-info .logo .rounded {
        background-color: #fafafa;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        overflow: hidden;
        position: relative;
        width: 150px;
        height: 150px; }
        @media (max-width: 767px) {
          .instagram .profile-info .logo .rounded {
            width: 77px;
            height: 77px; } }
      .instagram .profile-info .logo img {
        height: 100%;
        width: 100%; }
    .instagram .profile-info section.section {
      color: #262626;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      min-width: 0; }
    .instagram .profile-info section .title {
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      min-width: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      @media (min-width: 768px) {
        .instagram .profile-info section .title {
          margin-bottom: 20px; } }
      @media (max-width: 767px) {
        .instagram .profile-info section .title {
          margin-bottom: 12px; } }
      .instagram .profile-info section .title h2 {
        font-size: 28px;
        line-height: 32px;
        margin: -5px 0 -6px;
        font-weight: 300;
        color: #262626;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .instagram .profile-info section .title a {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-left: 20px;
        color: #003569;
        text-decoration: none; }
        .instagram .profile-info section .title a:visited, .instagram .profile-info section .title a:hover {
          color: #003569;
          text-decoration: none; }
        .instagram .profile-info section .title a button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: 0 0;
          border: 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          font-weight: 600;
          padding: 5px 9px;
          text-align: center;
          text-transform: inherit;
          text-overflow: ellipsis;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          white-space: nowrap;
          width: auto;
          background-color: #3897f0;
          border: 1px solid #3897f0;
          border-radius: 4px;
          color: #fff;
          position: relative;
          outline: 0 !important; }
    .instagram .profile-info section .statistics {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0;
      margin: 0 0 10px;
      list-style: none; }
      @media (max-width: 767px) {
        .instagram .profile-info section .statistics {
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          padding: 5px 0; } }
      .instagram .profile-info section .statistics li {
        font-size: 16px;
        margin-right: 10%; }
        .instagram .profile-info section .statistics li:first-child {
          margin-left: 0; }
        @media (max-width: 767px) {
          .instagram .profile-info section .statistics li {
            font-size: 14px;
            width: 33.3%;
            color: #999; } }
      .instagram .profile-info section .statistics span {
        color: #262626;
        font-weight: 600; }
        @media (max-width: 767px) {
          .instagram .profile-info section .statistics span {
            color: #262626;
            font-weight: 600; } }
    .instagram .profile-info section .content {
      display: block; }
      @media (min-width: 768px) {
        .instagram .profile-info section .content {
          font-size: 16px;
          line-height: 24px;
          word-wrap: break-word; } }
      @media (max-width: 767px) {
        .instagram .profile-info section .content {
          font-size: 14px;
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis; } }
      .instagram .profile-info section .content h3 {
        display: inline;
        font-weight: 600;
        font-size: 16px; }

#instafeed {
  width: 100%;
  overflow: hidden; }
  @supports (display: grid) {
    #instafeed {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, calc(20% - 8px)); }
      @media (max-width: 767px) {
        #instafeed {
          grid-template-columns: repeat(auto-fill, calc(33.33% - 7px)); } }
      @media (max-width: 479px) {
        #instafeed {
          grid-template-columns: repeat(auto-fill, calc(50% - 7px)); } }
      #instafeed.full-width {
        grid-template-columns: repeat(auto-fill, 100%); }
      #instafeed.half-width {
        grid-template-columns: repeat(auto-fill, calc(50% - 5px)); }
      #instafeed.third-width {
        grid-template-columns: repeat(auto-fill, calc(33.33% - 7px)); }
        @media (max-width: 479px) {
          #instafeed.third-width {
            grid-template-columns: repeat(auto-fill, calc(50% - 7px)); } }
      #instafeed.quarter-width {
        grid-template-columns: repeat(auto-fill, calc(25% - 8px)); }
        @media (max-width: 767px) {
          #instafeed.quarter-width {
            grid-template-columns: repeat(auto-fill, calc(33.33% - 7px)); } }
        @media (max-width: 479px) {
          #instafeed.quarter-width {
            grid-template-columns: repeat(auto-fill, calc(50% - 7px)); } } }
  @supports not (display: grid) {
    #instafeed {
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: left; }
      #instafeed .instagram-item {
        display: flex;
        margin: 5px;
        overflow: hidden;
        max-width: 214px;
        max-height: 214px;
        width: 10vw;
        height: 10vw;
        min-width: 140px;
        min-height: 140px; } }
  #instafeed .instagram-item {
    position: relative; }
    #instafeed .instagram-item img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #instafeed .instagram-item .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      padding: 15px;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      #instafeed .instagram-item .overlay p {
        color: #ffffff;
        font-family: "Museo Sans";
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.23px; }
    #instafeed .instagram-item:hover .overlay {
      background-color: rgba(0, 0, 0, 0.61);
      opacity: 1; }
  #instafeed a:hover {
    opacity: 1; }
