@mixin transition($property, $time) {
    -webkit-transition : $property $time;
    -moz-transition    : $property $time;
    -ms-transition     : $property $time;
    -o-transition      : $property $time;
    transition         : $property $time;
}

.instagram {
    margin  : 20px 0;
    display : -webkit-box;
    display : -webkit-flex;
    display : -ms-flexbox;
    display : flex;
    @media only screen and (max-width : 1023px) {
        flex-direction : column;
        max-width      : 100vw;
        margin         : 0 auto;
    }
    .profile-info {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        width           : 40%;
        min-width       : 500px;
        @media only screen and (max-width : 1023px) {
            margin    : 20px auto;
            max-width : 620px;
            min-width : 300px;
        }
        header, div, section {
            -webkit-box-align      : stretch;
            -ms-flex-align         : stretch;
            align-items            : stretch;
            border                 : 0 solid #000;
            box-sizing             : border-box;
            display                : -webkit-box;
            display                : -webkit-flex;
            display                : -ms-flexbox;
            display                : flex;
            -webkit-box-orient     : vertical;
            -webkit-box-direction  : normal;
            -webkit-flex-direction : column;
            -ms-flex-direction     : column;
            flex-direction         : column;
            -webkit-flex-shrink    : 0;
            -ms-flex-negative      : 0;
            flex-shrink            : 0;
            margin                 : 0;
            padding                : 0;
            position               : relative;
        }
        .header {
            -webkit-box-orient     : horizontal;
            -webkit-box-direction  : normal;
            -webkit-flex-direction : row;
            -ms-flex-direction     : row;
            flex-direction         : row;
            background-color       : #fafafa;
            padding                : 20px 10px;
        }
        .logo {
            -webkit-flex-shrink : 0;
            -ms-flex-negative   : 0;
            flex-shrink         : 0;
            @media (max-width : 767px) {
                margin-right : 28px;
            }
            .logo-inner {
                -webkit-align-self  : center;
                -ms-flex-item-align : center;
                align-self          : center;
                display             : block;
                -webkit-box-flex    : 0;
                -webkit-flex        : none;
                -ms-flex            : none;
                flex                : none;
                @media (min-width : 768px) {
                    -webkit-flex-basis      : 0;
                    -ms-flex-preferred-size : 0;
                    flex-basis              : 0;
                    -webkit-box-flex        : 1;
                    -webkit-flex-grow       : 1;
                    -ms-flex-positive       : 1;
                    flex-grow               : 1;
                    margin-right            : 30px;
                }
            }
            .rounded {
                background-color   : #fafafa;
                border-radius      : 50%;
                -webkit-box-sizing : border-box;
                box-sizing         : border-box;
                display            : block;
                -webkit-box-flex   : 0;
                -webkit-flex       : 0 0 auto;
                -ms-flex           : 0 0 auto;
                flex               : 0 0 auto;
                overflow           : hidden;
                position           : relative;
                width              : 150px;
                height             : 150px;
                @media (max-width : 767px) {
                    width  : 77px;
                    height : 77px;
                }
            }
            img {
                height : 100%;
                width  : 100%;
            }
        }
        section {
            &.section {
                color               : #262626;
                -webkit-flex-shrink : 1;
                -ms-flex-negative   : 1;
                flex-shrink         : 1;
                min-width           : 0;
            }
            .title {
                -webkit-flex-shrink    : 1;
                -ms-flex-negative      : 1;
                flex-shrink            : 1;
                min-width              : 0;
                -webkit-box-align      : center;
                -webkit-align-items    : center;
                -ms-flex-align         : center;
                align-items            : center;
                -webkit-box-orient     : horizontal;
                -webkit-box-direction  : normal;
                -webkit-flex-direction : row;
                -ms-flex-direction     : row;
                flex-direction         : row;
                @media (min-width : 768px) {
                    margin-bottom : 20px;
                }
                @media (max-width : 767px) {
                    margin-bottom : 12px;
                }
                h2 {
                    font-size     : 28px;
                    line-height   : 32px;
                    margin        : -5px 0 -6px;
                    font-weight   : 300;
                    color         : #262626;
                    display       : block;
                    overflow      : hidden;
                    text-overflow : ellipsis;
                    white-space   : nowrap;
                }
                a {
                    -webkit-flex-shrink : 0;
                    -ms-flex-negative   : 0;
                    flex-shrink         : 0;
                    margin-left         : 20px;
                    color               : #003569;
                    text-decoration     : none;
                    &:visited, &:hover {
                        color           : #003569;
                        text-decoration : none;
                    }
                    button {
                        -webkit-appearance  : none;
                        -moz-appearance     : none;
                        appearance          : none;
                        background          : 0 0;
                        border              : 0;
                        -webkit-box-sizing  : border-box;
                        box-sizing          : border-box;
                        cursor              : pointer;
                        display             : block;
                        font-weight         : 600;
                        padding             : 5px 9px;
                        text-align          : center;
                        text-transform      : inherit;
                        text-overflow       : ellipsis;
                        -webkit-user-select : none;
                        -moz-user-select    : none;
                        -ms-user-select     : none;
                        user-select         : none;
                        white-space         : nowrap;
                        width               : auto;
                        background-color    : #3897f0;
                        border              : 1px solid #3897f0;
                        border-radius       : 4px;
                        color               : #fff;
                        position            : relative;
                        outline             : 0 !important;
                    }
                }
            }
            .statistics {
                display                : -webkit-box;
                display                : -webkit-flex;
                display                : -ms-flexbox;
                display                : flex;
                -webkit-box-orient     : horizontal;
                -webkit-box-direction  : normal;
                -webkit-flex-direction : row;
                -ms-flex-direction     : row;
                flex-direction         : row;
                padding                : 0;
                margin                 : 0 0 10px;
                list-style             : none;
                @media (max-width : 767px) {
                    -webkit-justify-content : space-around;
                    -ms-flex-pack           : distribute;
                    justify-content         : space-around;
                    padding                 : 5px 0;
                }
                li {
                    font-size    : 16px;
                    margin-right : 10%;
                    &:first-child {
                        margin-left : 0;
                    }
                    @media (max-width : 767px) {
                        font-size : 14px;
                        width     : 33.3%;
                        color     : #999;
                    }
                }
                span {
                    color       : #262626;
                    font-weight : 600;
                    @media (max-width : 767px) {
                        color       : #262626;
                        font-weight : 600;
                    }
                }
            }
            .content {
                display : block;
                @media (min-width : 768px) {
                    font-size   : 16px;
                    line-height : 24px;
                    word-wrap   : break-word;
                }
                @media (max-width : 767px) {
                    font-size     : 14px;
                    line-height   : 20px;
                    overflow      : hidden;
                    text-overflow : ellipsis;
                }
                h3 {
                    display     : inline;
                    font-weight : 600;
                    font-size   : 16px;
                }
            }
        }
    }
}

#instafeed {
    width    : 100%;
    overflow : hidden;
    @supports (display: grid) {
        display               : grid;
        grid-gap              : 10px;
        grid-template-columns : repeat(auto-fill, calc(20% - 8px));
        @media (max-width : 767px) {
            grid-template-columns : repeat(auto-fill, calc(33.33% - 7px));
        }
        @media (max-width : 479px) {
            grid-template-columns : repeat(auto-fill, calc(50% - 7px));
        }
        &.full-width {
            grid-template-columns : repeat(auto-fill, 100%);
        }
        &.half-width {
            grid-template-columns : repeat(auto-fill, calc(50% - 5px));
        }
        &.third-width {
            grid-template-columns : repeat(auto-fill, calc(33.33% - 7px));
            @media (max-width : 479px) {
                grid-template-columns : repeat(auto-fill, calc(50% - 7px));
            }
        }
        &.quarter-width {
            grid-template-columns : repeat(auto-fill, calc(25% - 8px));
            @media (max-width : 767px) {
                grid-template-columns : repeat(auto-fill, calc(33.33% - 7px));
            }
            @media (max-width : 479px) {
                grid-template-columns : repeat(auto-fill, calc(50% - 7px));
            }
        }
    }
    @supports not (display: grid) {
        margin          : auto;
        display         : flex;
        flex-wrap       : wrap;
        justify-content : left;
        .instagram-item {
            display    : flex;
            margin     : 5px;
            overflow   : hidden;
            max-width  : 214px;
            max-height : 214px;
            width      : 10vw;
            height     : 10vw;
            min-width  : 140px;
            min-height : 140px;
        }
    }
    .instagram-item {
        position : relative;
        img {
            display    : block;
            width      : 100%;
            height     : 100%;
            object-fit : cover;
        }
        .overlay {
            position   : absolute;
            top        : 0;
            left       : 0;
            width      : 100%;
            height     : 100%;
            opacity    : 0;
            padding    : 15px;
            box-sizing : border-box;
            @include transition(all, .3s);
            p {
                color          : #ffffff;
                font-family    : "Museo Sans";
                font-size      : 12px;
                font-weight    : 500;
                line-height    : 17px;
                letter-spacing : 0.23px;
            }
        }
        &:hover .overlay {
            background-color : rgba(0, 0, 0, 0.61);
            opacity          : 1;
        }
    }
    a:hover {
        opacity : 1;
    }
}
