<?php
/**
 * @var Optiweb\Instagram\Block\Widget\Instagram $block
 */

$imageResolution = $block->getImageSize();
$profile = $block->getInstagramProfile();
$feeds = $block->getInstagramContent();
$feedsCount = count($feeds);

$instafeedLayout = '';
if($feedsCount%4 == 0){
    $instafeedLayout = 'quarter-width';
}
elseif($feedsCount%3 == 0){
    $instafeedLayout = 'third-width';
}
elseif($feedsCount%2 == 0){
    $instafeedLayout = 'half-width';
}
elseif($feedsCount == 1){
    $instafeedLayout = 'full-width';
}
?>

<div class="instagram-wrapper">
    <h4> <?= $block->getData('instagram') ?> </h4>
    <div class="instagram style-default">
        <?php if ($block->getShowProfileInfo()): ?>
            <div class="profile-info">
                <header class="header">
                    <div class="logo">
                        <div class="logo-inner" role="button" tabindex="0">
                            <span class="rounded" role="link" tabindex="0">
                                <img src="<?= $profile['profile_picture'] ?>" alt="<?= $profile['full_name'] ?>">
                            </span>
                        </div>
                    </div>
                    <section class="section">
                        <div class="title">
                            <h2><?= $profile['username'] ?></h2>
                            <a href="https://www.instagram.com/<?= $profile['username'] ?>" rel="nofollow">
                                <button class="follow" type="button"><?= __("Follow") ?></button>
                            </a>
                        </div>
                        <ul class="statistics">
                            <li>
                                <span><?= $profile['counts']['media'] ?></span>
                                <?= __("posts") ?>
                            </li>
                            <li>
                                <span><?= $profile['counts']['follows'] ?></span>
                                <?= __("followers") ?>
                            </li>
                            <li>
                                <span><?= $profile['counts']['followed_by'] ?></span>
                                <?= __("following") ?>
                            </li>
                        </ul>
                        <div class="content">
                            <h3><?= $profile['full_name'] ?></h3>
                            <br>
                            <span><?= $profile['bio'] ?></span>
                        </div>
                    </section>
                </header>
            </div>
        <?php endif; ?>
        <div id="instafeed" class="<?= $instafeedLayout?>">
            <?php if ($feeds): ?>
                <?php foreach ($feeds as $feed): ?>
                    <div class="instagram-item">
                        <a href="<?= $feed['link'] ?>" target="_blank">
                            <img src="<?= $feed['images'][$imageResolution]['url'] ?>"
                                 alt="<?= $feed['caption']['text'] ?> - Instagram">
                            <div class="overlay">
                                <p><?= $feed['caption']['text'] ?></p>
                            </div>
                        </a>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
